<div id="content">
</div>
<div id="player">
</div>

<script type="text/javascript">
  React.render(React.createElement(Components.Organ, {}), document.getElementById("content"))
  React.render(React.createElement(Components.Jukebox, {}), document.getElementById("player"))
</script>
